{% extends "base.html" %}
{% load static %}
{% block title %}Pbi Repo{% endblock %}
{% block content %}

<div class="mt-4">
    <iframe title="MONITORAMENTO - INSCRIÇÕES EVENTOS" width="1200" height="847" src="https://app.powerbi.com/view?r=eyJrIjoiMjgyMjdlYzYtNGJkNi00NjJlLWJhY2YtOTFjMjA1N2EzZTlhIiwidCI6IjdmNDE4ZmJiLWM5YWYtNGJkNS1hOTQ5LTVlY2RmZWFhMzk3MiJ9" frameborder="0" allowFullScreen="True"></iframe>
</div>

<!-- Bibliotecas externas -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.9.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
